// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Variables
$red: #ff0000;
$blue-dk: #002A50;
$blue: #22659c;

// Container
#workflow-makr-chart-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #efefef;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

// Org chart
@mixin shadow($level: 1) {
    @if $level==1 {
        box-shadow: 0 1px 3px rgba(black, 0.12), 0 1px 2px rgba(black, 0.24);
    }

    @else if $level==2 {
        box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
    }

    @else if $level==3 {
        box-shadow: 0 10px 20px rgba(black, 0.19), 0 6px 6px rgba(black, 0.23);
    }

    @else if $level==4 {
        box-shadow: 0 14px 28px rgba(black, 0.25), 0 10px 10px rgba(black, 0.22);
    }

    @else if $level==5 {
        box-shadow: 0 19px 38px rgba(black, 0.30), 0 15px 12px rgba(black, 0.22);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #22659c;
}

.workflow-makr-org {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;

    ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;

        ul::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid #ccc;
            width: 50%;
            height: 20px;
        }
    }

    li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 10px;
        transition: all 0.5s;

        &.end {
            float: none;
            margin: 0 auto;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 1px solid #ccc;
            width: 50%;
            height: 19px;
        }

        &::after {
            right: auto;
            left: 50%;
            border-left: 1px solid #ccc;
        }

        &:only-child::after,
        &:only-child::before {
            border-radius: 0 !important;
            right: calc(50% - 1px);
        }

        &:first-child::before,
        &:last-child::after {
            border: 0 none;
        }

        &:last-child::before {
            border-right: 1px solid #ccc;
            border-radius: 0 6px 0 0;
        }

        &:first-child::after {
            border-radius: 6px 0 0 0;
        }

        .node {
            text-decoration: none;
            color: #666;
            display: inline-block;
            padding: 20px 10px;
            transition: all 0.5s;
            background: #fff;
            min-width: 180px;
            border-radius: 6px;
            position: relative;
            @include shadow(1);

            &.start,
            &.end {
                width: 50px;
                min-width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 0;
                background: #cecece;
                line-height: 50px;
                font-size: 10px;
                font-weight: 900;
                letter-spacing: 1px;
                color: #333;
                position: relative;
            }

            &.end {
                background: $blue;
                color: #fff;
            }

            &:not(.start):not(.end) {

                &:hover {
                    background: lighten($blue, 55%);
                    color: $blue-dk;
                    transition: all 0.15s;
                }

                &:hover {

                    +ul li::after,
                    +ul li::before,
                    +ul::before,
                    +ul ul::before {
                        border-width: 2px;
                        border-color: #94a0b4;
                    }

                    +ul li:only-child::before {
                        right: calc(50% - 2px);
                    }
                }
            }

            &:hover {

                .add-btn,
                .delete-btn,
                .edit-btn {
                    opacity: .8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            >div,
            >a {
                font-size: 12px;
            }

            .status {
                font-size: 18px;
                float: none;
                margin: 0 auto;
            }

            .action {
                font-weight: 700;
                font-size: 13px;
                color: $blue;
                text-transform: uppercase;
                position: absolute;
                top: -15px;
                font-size: 10px;
                right: calc(50% - 45px);
                width: 100%;
                text-align: center;
                background: #efefef;
                padding: 0;
                z-index: 2;
            }

            .add-btn,
            .delete-btn,
            .edit-btn {
                cursor: pointer;
                text-decoration: none;
                position: absolute;
                z-index: 2;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }

            .add-btn {
                bottom: -18px;
                right: calc(50% - 8.5px);
            }

            .delete-btn {
                top: 3px;
                right: 3px;
            }

            .edit-btn {
                top: 3px;
                right: 25px;
                border-radius: 50%;
                background-color: transparent;
            }

            &.start {
                .add-btn {
                    bottom: -39px;
                }
            }

            .status,
            .action {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 15ch;
            }
        }
    }

    &>ul>li:before {
        border: 0 none !important;
    }
}

// Page loading
#loading-workflow-makr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    transition: opacity 0.45s ease-in-out;
    z-index: 999;

    .loader {
        height: 32px;
        width: 32px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .loader span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 32px;
        width: 32px;
    }

    .loader span::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 32px;
        width: 32px;
        border: 3px solid #FFF;
        border-bottom: 3px solid transparent;
        border-radius: 50%;
        -webkit-animation: loader-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
        animation: loader-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }

    .loader span::after {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 6px;
        height: 6px;
        background: #FFF;
        border-radius: 50%;
        -webkit-animation: loader-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
        animation: loader-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }
}

@-webkit-keyframes loader-1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(180deg);
    }

    60% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-1 {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-2 {
    0% {
        -webkit-transform: translate3d(0, -32px, 0) scale(0, 2);
        opacity: 0;
    }

    50% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.25, 1.25);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(0, 8px, 0) scale(0, 0);
        opacity: 0;
    }
}

@keyframes loader-2 {
    0% {
        transform: translate3d(0, -32px, 0) scale(0, 2);
        opacity: 0;
    }

    50% {
        transform: translate3d(0, 0, 0) scale(1.25, 1.25);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 8px, 0) scale(0, 0);
        opacity: 0;
    }
}

// Animations
@keyframes fadeInUp {
    from {
        transform: translate3d(0, -40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, -40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

// Dialog
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    font-family: 'Lato', sans-serif;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &#delete-transition-dialog {
        .popup {
            width: 500px;

            .content {
                p {
                    padding: 20px 0 0 0;
                    margin: 0;
                    color: $red;
                    text-align: center;
                }
            }
        }
    }

    .popup {
        margin: 70px auto;
        background: #fff;
        border-radius: 5px;
        min-width: 30%;
        max-width: 90%;
        position: relative;

        .close-dialog {
            transition: color 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
        }

        .close-dialog:hover {
            color: $blue;
            cursor: pointer;
        }

        .content {
            max-height: calc(90% - 60px - 60px);
            overflow: auto;
            padding: 20px;
            font-size: 16px;

            .transition-meta {
                display: grid;
                font-size: 18px;
                grid-gap: 3px;
                grid-template-columns: repeat(3, 1fr) 1em;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                width: 100%;

                &>span {
                    background-color: $blue;
                    color: #ffffff;
                    font-weight: 700;
                    letter-spacing: 0.01em;
                    line-height: 1.333em;
                    padding: 0.667em 0.667em 0.667em 1.333em;
                    position: relative;
                    text-decoration: none;
                    text-align: center;
                    position: relative;

                    &>span {
                        position: absolute;
                        top: -18px;
                        left: 0;
                        font-size: .6rem;
                        color: $blue-dk;
                        font-weight: 800;
                    }

                    .text {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 10ch;
                    }

                    &:nth-child(1) {
                        background-color: lighten($blue, 45%);
                        z-index: 3;
                    }

                    &:nth-child(2) {
                        background-color: lighten($blue, 35%);
                        z-index: 2;
                    }

                    &:nth-child(3) {
                        background-color: lighten($blue, 25%);
                        z-index: 1;
                    }

                    & {
                        &:before {
                            border-bottom: 1.333em solid transparent;
                            border-left: 0.667em solid #ffffff;
                            border-top: 1.333em solid transparent;
                            bottom: 0;
                            content: '';
                            height: 0;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 0;
                        }

                        &:after {
                            border-bottom: 1.333em solid transparent;
                            border-left: 0.667em solid;
                            border-top: 1.333em solid transparent;
                            bottom: 0;
                            content: '';
                            height: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translateX(0.667em);
                            width: 0;
                        }

                        &:nth-child(1) {
                            &:after {
                                border-left-color: lighten($blue, 45%);
                            }
                        }

                        &:nth-child(2) {
                            &:after {
                                border-left-color: lighten($blue, 35%);
                            }
                        }

                        &:nth-child(3) {
                            &:after {
                                border-left-color: lighten($blue, 25%);
                            }
                        }
                    }
                }
            }
        }

        .header,
        .footer {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .header,
        .footer {
            padding: 0 20px;
        }

        .header {
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            h2 {
                font-size: 18px;
            }
        }

        .footer {
            justify-content: flex-end;
            border-top: 1px solid rgba(0, 0, 0, .1);
            background-color: rgba(0, 0, 0, .05);

            .close-dialog {
                font-size: 14px;
                font-weight: normal;
                text-decoration: none;
                padding: 7.5px 15px;
            }

            .save,
            .delete {
                font-size: 16px;
                font-weight: normal;
                background-color: $blue;
                text-decoration: none;
                color: #ffffff;
                padding: 7.5px 15px 10px 15px;
                border-radius: 3px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: $blue-dk;
                }
            }

            .save {
                background-color: $blue;

                &:hover {
                    background-color: $blue-dk;
                }
            }

            .delete {
                background-color: lighten($red, 15%);

                &:hover {
                    background-color: lighten($red, 5%);
                }
            }
        }
    }
}