// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800;900&display=swap');

// Variables
$red: #dc3545;
$blue-dk: #002A50;
$blue: #22659c;

// Container
#workflow-makr-chart-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #efefef;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

// Org chart
@mixin shadow($level: 1) {
    @if $level==1 {
        box-shadow: 0 1px 3px rgba(black, 0.12), 0 1px 2px rgba(black, 0.24);
    }

    @else if $level==2 {
        box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
    }

    @else if $level==3 {
        box-shadow: 0 10px 20px rgba(black, 0.19), 0 6px 6px rgba(black, 0.23);
    }

    @else if $level==4 {
        box-shadow: 0 14px 28px rgba(black, 0.25), 0 10px 10px rgba(black, 0.22);
    }

    @else if $level==5 {
        box-shadow: 0 19px 38px rgba(black, 0.30), 0 15px 12px rgba(black, 0.22);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #22659c;
}

.workflow-makr-org {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;

    ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;

        ul::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid #ccc;
            width: 50%;
            height: 20px;
        }
    }

    li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 10px;
        transition: all 0.5s;

        &.end {
            float: none;
            margin: 0 auto;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 1px solid #ccc;
            width: 50%;
            height: 19px;
        }

        &::after {
            right: auto;
            left: 50%;
            border-left: 1px solid #ccc;
        }

        &:only-child::after,
        &:only-child::before {
            border-radius: 0 !important;
            right: calc(50% - 1px);
        }

        &:first-child::before,
        &:last-child::after {
            border: 0 none;
        }

        &:last-child::before {
            border-right: 1px solid #ccc;
            border-radius: 0 6px 0 0;
        }

        &:first-child::after {
            border-radius: 6px 0 0 0;
        }

        .node {
            text-decoration: none;
            color: #666;
            display: inline-block;
            padding: 20px 10px;
            transition: all 0.5s;
            background: #fff;
            width: 180px;
            border-radius: 6px;
            position: relative;
            @include shadow(1);

            &.start,
            &.end {
                width: 50px;
                min-width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 0;
                background: #cecece;
                line-height: 50px;
                font-size: 10px;
                font-weight: 900;
                letter-spacing: 1px;
                color: #333;
                position: relative;
            }

            &.end {
                background: $blue;
                color: #fff;
            }

            &:not(.start):not(.end) {

                &:hover {
                    background: lighten($blue, 55%);
                    color: $blue-dk;
                    transition: all 0.15s;
                }

                &:hover {

                    +ul li::after,
                    +ul li::before,
                    +ul::before,
                    +ul ul::before {
                        border-width: 2px;
                        border-color: #94a0b4;
                    }

                    +ul li:only-child::before {
                        right: calc(50% - 2px);
                    }
                }

                &.to-delete,
                &.to-delete+ul li .node:not(.end) {
                    background: lighten($red, 35%);

                    +ul li::after,
                    +ul li::before,
                    +ul::before,
                    +ul ul::before {
                        border-width: 2px;
                        border-color: $red;
                    }

                    +ul li:only-child::before {
                        right: calc(50% - 2px);
                    }
                }
            }

            &:hover {

                .add-btn,
                .delete-btn,
                .edit-btn {
                    opacity: .8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            >div,
            >a {
                font-size: 12px;
            }

            .status {
                font-size: 18px;
                float: none;
                margin: 0 auto;
            }

            .action {
                font-weight: 700;
                font-size: 13px;
                color: $blue;
                text-transform: uppercase;
                position: absolute;
                top: -15px;
                font-size: 10px;
                right: calc(50% - 45px);
                width: 100%;
                text-align: center;
                background: #efefef;
                padding: 0;
                z-index: 2;
            }

            .add-btn,
            .delete-btn,
            .edit-btn {
                cursor: pointer;
                text-decoration: none;
                position: absolute;
                z-index: 2;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }

            .add-btn {
                bottom: -18px;
                right: calc(50% - 8.5px);
            }

            .delete-btn {
                top: 3px;
                right: 3px;
            }

            .edit-btn {
                top: 3px;
                right: 25px;
                border-radius: 50%;
                background-color: transparent;
            }

            &.start {
                .add-btn {
                    bottom: -18px;
                }
            }

            .status,
            .action {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 15ch;
            }

            .delete-confirmation,
            .save-form {
                display: none;
            }

            &.saving,
            &.to-create {
                background-color: lighten($blue, 55%);

                .status,
                .action,
                .edit-btn,
                .add-btn,
                .delete-btn {
                    display: none;
                }

                .save-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    label {
                        font-size: 11px;
                        font-weight: 800;
                        margin-bottom: 5px;
                    }

                    input {
                        background-color: transparent;
                        outline: none;
                        box-shadow: none;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, .1);
                        padding: 5px;
                        margin-bottom: 10px;
                        font-size: 13px;
                        font-weight: 300;
                        width: calc(100% - 10px);
                    }

                    &>div:not(.autocomplete-result) {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        a {
                            padding: 5px 10px;
                            border-radius: 6px;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                            background-color: #ffffff;

                            &[data-update-transition],
                            &[data-create-transition] {
                                background-color: $blue;
                                margin-right: 5px;
                                color: #ffffff;
                            }

                            &:hover {
                                cursor: pointer;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.42);
                            }
                        }
                    }
                }
            }

            &.to-delete {

                .status {
                    display: none;
                }

                &,
                &+ul li .node:not(.end) {

                    .edit-btn,
                    .add-btn,
                    .delete-btn {
                        display: none;
                    }
                }

                .delete-confirmation {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    &>div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                    p {
                        font-size: 12px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    a {
                        padding: 5px 10px;
                        border-radius: 6px;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                        background-color: #ffffff;

                        &[data-delete-transition] {
                            background-color: $red;
                            margin-right: 5px;
                            color: #ffffff;
                        }

                        &:hover {
                            cursor: pointer;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.42);
                        }
                    }
                }
            }
        }
    }

    &>ul>li:before {
        border: 0 none !important;
    }
}

// Page loading
#loading-workflow-makr,
#deleting-transition-loader,
#saving-transition-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    transition: opacity 0.45s ease-in-out;
    z-index: 999;
}

#deleting-transition-loader,
#saving-transition-loader {
    background-color: rgba($blue, .3);
}

.loader {
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 32px;
        width: 32px;
    }

    span::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 32px;
        width: 32px;
        border: 3px solid #FFF;
        border-bottom: 3px solid transparent;
        border-radius: 50%;
        -webkit-animation: loader-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
        animation: loader-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }

    span::after {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 6px;
        height: 6px;
        background: #FFF;
        border-radius: 50%;
        -webkit-animation: loader-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
        animation: loader-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }
}

@-webkit-keyframes loader-1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(180deg);
    }

    60% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-1 {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-2 {
    0% {
        -webkit-transform: translate3d(0, -32px, 0) scale(0, 2);
        opacity: 0;
    }

    50% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.25, 1.25);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(0, 8px, 0) scale(0, 0);
        opacity: 0;
    }
}

@keyframes loader-2 {
    0% {
        transform: translate3d(0, -32px, 0) scale(0, 2);
        opacity: 0;
    }

    50% {
        transform: translate3d(0, 0, 0) scale(1.25, 1.25);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 8px, 0) scale(0, 0);
        opacity: 0;
    }
}

// Animations
@keyframes fadeInUp {
    from {
        transform: translate3d(0, -40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, -40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

// Toastify
.toastify {
    font-family: 'Lato', sans-serif;

    ul {
        list-style: none;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

// Autocomplete
.autocomplete-container {
    position: relative;

    input {
        height: 26px;
    }

    .loader {
        visibility: hidden;
        opacity: 0;
        width: 20px;
        height: 20px;
        top: 0;
        right: 12px;
        left: unset;
        bottom: unset;

        &>span {
            height: 20px;
            width: 20px;

            &:before {
                height: 20px;
                width: 20px;
                border: 3px solid lighten($blue, 35%);
                border-bottom: 3px solid transparent;
            }

            &:after {
                width: 4px;
                height: 4px;
                background: lighten($blue, 35%);
            }
        }
    }

    &.loading {
        .loader {
            visibility: visible;
            opacity: 1;
        }
    }
}

.autocomplete,
.autocomplete-result {
    box-sizing: border-box;
}

.autocomplete-result {
    display: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: 0;
    position: absolute;
    overflow: auto;
    max-height: 93px;
    background: #fff;
    width: 100%;
    top: 27px;
    z-index: 3;

    p {
        padding: 5px 10px;
        margin: 0;
        text-align: left;
        color: #000;

        &:nth-child(2n+1) {
            background: #f6f6f6;
        }

        &:hover {
            cursor: pointer;
            background: #e5e5e5;
        }
    }
}